<div class="container-fluid">
    <div class="row bg-light"><br><br></div>
    <div class="row bg-light">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="bg-white p-3">
                <h5 class="">ユーザー名：<span class="ml-2"><%= current_user.user_name %></span></h5>
                <h5>貰った役に立った数:
                    <% @good_sum.each do |disp|%>
                        <%= disp.num_emp %>
                    <% end %>
                </h5>
                <div class="bg-light mt-3 mb-4">
                <% if current_user.user_image.blank? %>
                    <img src="guest.png" class="img-responsive mx-auto d-block img-thumbnail">
                <% else %>
                    <img src="<%= current_user.user_image %>" class="img-responsive mx-auto d-block img-thumbnail">
                <% end %>
                </div>
                <%= link_to "登録情報変更", profiles_edit_profile_path ,class: "btn btn-primary form-control"%>
                <%= link_to "パスワード変更", profiles_pass_path ,class: "btn btn-success form-control mt-3 mb-3"%>
            </div>
        </div>
        <div class="col-6 bg-white">
            <h5 class="text-center mt-3"><%= current_user.user_name %>さんの投稿履歴</h5>
            <% @reviews.each do |disp| #ユーザーが過去に投稿したレビューを表示する。 %>
                <%= render :partial => "delete_reviews/delete_review", :locals => { disp: disp } %>           
            <% end %>
        </div>
        <div class="col-1"></div>
    </div>
</div>

