<%= javascript_pack_tag 'profile'%>
<div class="container-fluid">
<div class="row bg-light"><br><br></div>
<div class="row bg-light">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="bg-white p-3">
            <h5 class=""><%= current_user.user_name %></h5>
            <div class="bg-light mt-3 mb-4">
            <% if current_user.user_image.blank? %>
                <br><br><br><br><br><br><br><br><br>
            <% else %>
                <img src="<%= current_user.user_image %>" class="img-responsive mx-auto d-block img-thumbnail">
            <% end %>
            </div>
            <%= link_to "登録情報変更", profiles_edit_profile_path ,class: "btn btn-primary form-control"%>
        </div>
    </div>
    <div class="col-6 bg-white">
        <h5 class="text-center mt-3"><%= current_user.user_name %>さんの投稿履歴</h5>
        <% @reviews.each do |disp| #ユーザーが過去に投稿したレビューを表示する。 %>
            <div id="review-<%= disp.id %>">
                <%= render :partial => "delete_reviews/delete_review", :locals => { disp: disp } %>
            </div>             
        <% end %>
    </div>
    <div class="col-1"></div>
</div>
</div>

