<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8 bg-white p-5">
                <%= form_for @user, url: profiles_pass_update_path,method: :put do |f| %>
                    <h5 class="text-center mb-5">パスワードを変更する。</h5>
                    <div class="form-group">
                    <%= f.password_field :password, class: "form-control mx-auto d-block mt-1", style: "width:30rem;",placeholder: "パスワード" %>
                    <%= f.password_field :password_confirmation, class: "form-control mx-auto d-block mt-1", style: "width:30rem;",placeholder: "パスワード確認" %>
                    <button type="button" class="btn btn-danger mx-auto d-block w-50 mt-5" data-toggle="modal" data-target="#PassAlertModal">パスワードを変更する</button>                             
                    <!--モーダル-->
                    <div class="modal" id="PassAlertModal" tabindex="-1" role="dialog" aria-labelledby="PassAlertModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5>パスワードを変更しますか？</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times</span>
                                </button>
                                </div><!--モーダルヘッダー-->
                                <div class="modal-footer">
                                    <%= submit_tag("変更する", class: "btn btn-danger ml-auto-5")%>  
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                                </div>
                            </div><!--モーダルコンテンツ-->
                        </div><!--モーダルダイアログ本体-->
                    </div><!--モーダル外枠-->
                    <!--モーダル-->
                <% end %>  
                <hr>    
                <%= link_to "プロフィールへ戻る", profiles_path(id: current_user.id) ,class: "btn btn-primary mx-auto d-block w-50 m-3"%>
            </div>
        <div class="col-2"></div>    
    </div>
    <div class="row">
    <br><br><br><br><br><br><br><br><br>
    </div>
</div>