<div class="container-fluid bg_image">
    <div class="row bg-white">
        <div class="col-1"></div>
            <div class="jumbotron jumbotron-fluid col-10 mb-0">
                <div class="container-fluid" >
                    <h3 class="text-white font-weight-bolder ml-5">やぁ、こんにちは!</h3> 
                    <p class="lead text-white ml-5">モノの良し悪しは表裏一体そんな観点からあなたのガジェットをレビューしてみませんか？</p>                 
                </div>   
            </div><!-- /.jumbotron--> 
        <div class="col-1"></div>
    </div>
    <div class="row bg-white">
    <div class="col-1"></div>
    <div class="col-10 mt-1"><br></div>
    <div class="col-1"></div>
    </div>
    <div class="row bg-light">
        <div class="col-1"></div>
        <ul class="nav nav-tabs col-10 font-weight-bolder">
            <li class="nav-item">
                <a href="#new_gadgets" class="nav-link active text-muted" data-toggle="tab">新着ガジェット</a>
            </li> 
            <li class="nav-item">
                <a href="#new_reviews" class="nav-link text-muted" data-toggle="tab">新着レビュー</a>
            </li> 
            <li class="nav-item">
                <a href="#new_release_date" class="nav-link text-muted" data-toggle="tab">発売日</a>
            </li>
            <li class="nav-item">
                <a href="#new_pfones" class="nav-link text-muted" data-toggle="tab">スマートフォン</a>
            </li> 
            <li class="nav-item">
                <a href="#new_pc" class="nav-link text-muted" data-toggle="tab">PC関連</a>
            </li> 
            <li class="nav-item">
                <a href="#new_other" class="nav-link text-muted" data-toggle="tab">その他</a>
            </li> 
        </ul>
        <div class="col-1">
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-1">
        </div>
        <div class="col-7 bg-white pt-3 rounded">
            <div class="tab-content">
                <div id="new_gadgets" class="tab-pane active">
                    <% @gadget.each do |disp|%>
                        <div class="card mb-3" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="<%= disp.image %>" class="img-thumbnail">
                                       </div>  
                                    <div class="col-8">  
                                        <h5><%= disp.gadget_name %></h5>
                                        <div id="infomation"><p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                                    </div>
                                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary ml-auto mr-3"%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "新着ガジェットをもっと見る", tops_lists_path(gadgets: "new_gadgets") , class: "text-muted font-weight-bolder float-right mb-3 mr-2" %> 
                </div><!--new_gadgets-->
                <div id="new_reviews" class="tab-pane">
                    <% @new_reviews.each do |disp|%>
                        <div class="card mb-3" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="<%= disp.image %>" class="img-thumbnail">
                                       </div>  
                                    <div class="col-8">  
                                        <h5><%= disp.gadget_name %></h5>
                                        <div id="infomation">
                                        <p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                                    </div>
                                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary ml-auto mr-3"%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "新着レビューをもっと見る", tops_lists_path(gadgets: "new_reviews"), class: "text-muted font-weight-bolder float-right mb-3 mr-2" %> 
                </div><!--new_reviews-->
                <div id="new_release_date" class="tab-pane">
                    <% @new_release_date.each do |disp|%>
                        <div class="card mb-3" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="<%= disp.image %>" class="img-thumbnail">
                                       </div>  
                                    <div class="col-8">  
                                        <h5><%= disp.gadget_name %></h5>
                                        <div id="infomation"><p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                                    </div>
                                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary ml-auto mr-3"%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "発売日順でもっとみる", tops_lists_path(gadgets: "new_release_date"), class: "text-muted font-weight-bolder float-right mb-2" %> 
                </div><!--new_release_date-->
                <div id="new_pfones" class="tab-pane">
                    <% @phones.each do |disp|%>
                        <div class="card mb-3" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="<%= disp.image %>" class="img-thumbnail" alt="test">
                                       </div>  
                                    <div class="col-8">  
                                        <h5><%= disp.gadget_name %></h5>
                                        <div id="infomation"><p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                                    </div>
                                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary ml-auto mr-3"%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "スマートホンをもっと見る", tops_lists_path(gadgets: "new_phones"), class: "text-muted font-weight-bolder float-right mb-2" %> 
                </div><!--new_phones-->
                <div id="new_pc" class="tab-pane">
                    <% @pc.each do |disp|%>
                        <div class="card mb-3" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="<%= disp.image %>" class="img-thumbnail" alt="test">
                                       </div>  
                                    <div class="col-8">  
                                        <h5><%= disp.gadget_name %></h5>
                                        <div id="infomation"><p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                                    </div>
                                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary ml-auto mr-3"%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "PC関連をもっと見る", tops_lists_path(gadgets: "new_pc"), class: "text-muted font-weight-bolder float-right mb-2" %> 
                </div><!--new_pc-->
                <div id="new_other" class="tab-pane">
                    <% @other.each do |disp|%>
                        <div class="card mb-3" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="<%= disp.image %>" class="img-thumbnail" alt="test">
                                       </div>  
                                    <div class="col-8">  
                                        <h5><%= disp.gadget_name %></h5>
                                        <div id="infomation"><p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                                    </div>
                                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary ml-auto mr-3"%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "その他をもっと見る", tops_lists_path(gadgets: "new_other"), class: "text-muted font-weight-bolder float-right mb-2" %> 
                </div><!--new_other-->
            </div><!--tab-content-->
        </div>
        
        <div class="col-3 bg-white pt-3 rounded">
            <div class="card mb-3" style="">
                <h5 class="card-header bg-white text-danger font-weight-bolder">注目ガジェット</h5> 
                <div class="card-body">
                    <h4 class="card-title font-weight-bolder">レビュー数ランキング</h4>
                    <% @review_num.each.with_index(1) do |disp, i|%>
                    <h5>第 <%= i %> 位&nbsp;&nbsp;<%= disp.num_gadget %>review
                    <%= link_to disp.gadget_name, reviews_path(id: disp.id) %></h5>
                    <% end %>
                    <hr>
                    <h4 class="card-title font-weight-bolder">総合評価ランキング</h4>
                    <% @gadget_num.each.with_index(1) do |disp, i|%>
                    <h5>第 <%= i %> 位&nbsp;&nbsp;<%= disp.review_point.round(2) %>/5.0点<br>
                    <%= link_to disp.gadget_name, reviews_path(id: disp.id) %></h5>
                    <% end %>
                </div>
            </div>
            <div class="card mb-3" style="">
                <h5 class="card-header bg-white text-danger font-weight-bolder">注目ユーザー</h5>
                <div class="card-body">
                    <h4 class="card-title font-weight-bolder">レビュー数ランキング</h4>
                    <% @user_review_num.each.with_index(1) do |disp, i|%>
                    <div class="h5">第 <%= i %> 位&nbsp;&nbsp;<%= disp.num_user %>review<br>
                    <%= link_to disp.user_name, profiles_display_profile_path(id: disp.id) %></div><br>
                    <% end %>
                    <hr>
                    <h4 class="card-title font-weight-bolder">役に立った数ランキング</h4>
                    <% @user_good_num.each.with_index(1) do |disp, i|%>
                    <div class="h5">第 <%= i %> 位&nbsp;&nbsp;<%= disp.num_emp %>役に立った<br>
                    <%= link_to disp.user_name, profiles_display_profile_path(id: disp.id) %></div>
                    <% end %>
                </div>    
            </div>
        </div>
        <div class="col-1">
        </div>    
    </div>

    <div class="row bg-light">
        <div class="col-1"></div>      
        <div class="col-7"><br></div>
        <div class="col-7"></div>
    </div> 
</div>
 


   
