<% if disp.delete_flag == 0  #delete_falgが0のレビューだけを表示する。 %>
    <div class="card border-0 bg-white">
        <div class="card-body">
            <div class="text-center">
            <span>投稿したガジェット：</span><span class="ml-2"><%= link_to disp.gadget_name, reviews_path(id: disp.gadget_id)  %></span>
            </div>
            <div class="card-header bg-white mb-1 border-0">
                <div class="row">
                    <div class="col-8"><img src="<%= current_user.user_image %>" class="" width="30" height="auto"></img>
                    <span class="ml-3"><%= current_user.user_name %></span></div>     
                    <div class="col-4 text-right "><%= disp.updated_at.strftime("%Y/%m/%d/%H:%M") %></div>
                </div>    
            </div><!--card-header-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#good_point<%= disp.id %>" class="nav-link active" data-toggle="tab">良かった点</a>
                </li> 
                <li class="nav-item">
                    <a href="#bad_point<%= disp.id %>" class="nav-link text-danger" data-toggle="tab">悪かった点</a>
                </li>
                <li class="nav-item">
                    <a href="#image<%= disp.id %>" class="nav-link text-muted" data-toggle="tab">画像</a>
                </li>
            </ul><!--nav-tabs-->
            <div class="tab-content border-bottom border-left border-right rounded-bottom">
                <div id="good_point<%= disp.id %>" class="tab-pane active">
                    <div class="mb-1"> 
                        <div class="card-body">
                            <p class="card-text mt-3">
                            <%= disp.good_review %>
                            </p>
                        </div>
                    </div>
                </div><!--good_point-->
                <div id="bad_point<%= disp.id %>" class="tab-pane">
                    <div class="mb-1">
                        <div class="card-body">
                            <p class="card-text mt-3">
                                <%= disp.bad_review %>
                            </p>
                        </div>
                    </div>
                </div><!--bad_point-->
                <div id="image<%= disp.id %>" class="tab-pane">
                    <div class="mb-1">
                        <div class="card-body">
                        <img src="<%= disp.image %>" class="img-responsive mx-auto d-block img-thumbnail">
                    </div>
                </div><!--image-->
            </div><!--tab-content-->
        </div><!--card-body-->      
        <div class="text-right mt-3">
            <span class="mr-3"><label>役に立った数：<%= disp.empathies.length %></span></label>        
            <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#DeleteAlertModal<%= disp.id %>">削除</button>       
        </div>
    </div><!--card--> 
    <hr>  
    <!--モーダル-->
    <div class="modal" id="DeleteAlertModal<%= disp.id %>" tabindex="-1" role="dialog" aria-labelledby="DeleteAlertModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5>本当にレビューを削除しますか？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
                </div><!--モーダルヘッダー-->
                <div class="modal-footer">
                    <%= link_to delete_reviews_update_path(id: disp.id) ,class: "btn btn-danger ml-auto" , method: :put, remote: true do %> 
                    <div data-dismiss="modal">削除する</div>
                    <% end %>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                </div>
            </div><!--モーダルコンテンツ-->
        </div><!--モーダルダイアログ本体-->
    </div><!--モーダル外枠-->
    <!--モーダル-->
<% end %>          
