<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <br><br>
            <h5 class="text-center font-weight-bolder">レビュー内容をお書きください。</h5>
        </div> 
        <div class="col-1"></div>   
    </div>
    <br>
    <div class="row">    
        <div class="col-2"></div>
        <div class="col-8">
            <%= form_for @review, url: reviews_create_path(id: @gadget_id) do |f| %>
                <div class="row">
                    <label class="text-danger font-weight-bolder col-6">良かった点</label>
                    <label class="text-primary font-weight-bolder col-6">悪かった点</label>
                </div>
                <div class="row">
                    <div class="form-group col-6"><%= f.text_area :good_review, size: "1000x15",class: "form-control" %></div> 
                    <div class="form-group col-6"><%= f.text_area :bad_review, size: "1000x15",class: "form-control" %></div>                
                </div>      
                <div class="form-group row">              
                            <%= f.file_field :image, style: "", class: "form-control-file ml-3" %>
                </div>   
                <%= f.hidden_field :gadget_id, :value => @gadget_id %>
                <%= f.hidden_field :user_id, :value => current_user.id %> 
                <%= f.hidden_field :delete_flag, :value => 0 %>          
                <%= submit_tag("送信", class: "btn btn-primary float-right mr-2")%>   
                <input type="reset" value="リセット" class="btn btn-primary float-right mr-2"> 
            <% end %>                     
        </div>
        <div class="col-2"></div>
    </div>
</div>

