<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
        </div>
        <br><br>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
        <div class=" pt-3 bg-white">
        <h4 class="text-center"><%= @gadget.gadget_name %></h4>
            <div class="mb-5">
                <img border="1" src="<%= @gadget.image %>" height="250rem" alt="ガジェット画像" class= "d-block ml-auto mr-auto">
                <p class="pt-4 pr-4 pl-4 card-text">製品情報:<br><%= @gadget.gadget_info %></p>
                <% if @gadget.gadget_url.empty? %>
                    <p class="pr-4 pl-4 card-text text-center">製品ページがありません。</p>
                <% else %>
                    <p class="pr-4 pl-4 card-text text-center"><%= link_to '製品ページへ行く', @gadget.gadget_url %></p>
                <% end %>
                <% if logged_in? %>
                    <%= link_to "レビューする", reviews_add_review_path(id: @gadget.id) ,class: "btn btn-primary d-block mx-auto"%>
                <% else %>
                    <%= link_to "レビューする", login_path ,class: "btn btn-primary d-block mx-auto"%>
                <% end %>
                <br>
            </div>    
        </div>    
        </div>
        
        <div class="col-6 pr-0">
        <%= @reviews_test %>
            <% if @test == true %>
            <div class="card border-0 bg-white">
                <div class="card-body">
                    現在投稿はありません。
                </div>
            </div>    
            <% end %>
            <% @reviews.reverse_each do |disp|%>
            <div class="card border-0 bg-white">
                <div class="card-body">
                    <div class="card-header bg-white mb-1 border-0">
                        <div class="row">
                            <div class="col-8"><img src="guest.png" class="" width="30" height="30"></img>
                            <span class="ml-3"><%= disp.user_name %></span></div>     
                            <div class="col-4 text-right "><%= disp.updated_at.strftime("%Y/%m/%d/%H:%M") %></div>
                        </div>    
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#good_point<%= disp.id %>" class="nav-link active" data-toggle="tab">良かった点</a>
                        </li> 
                        <li class="nav-item">
                            <a href="#bad_point<%= disp.id %>" class="nav-link text-danger" data-toggle="tab">悪かった点</a>
                        </li>
                        <li class="nav-item">
                            <a href="#image<%= disp.id %>" class="nav-link text-muted" data-toggle="tab">画像</a>
                        </li>
                    </ul>
                    <div class="tab-content border-bottom border-left border-right rounded-bottom">
                        <div id="good_point<%= disp.id %>" class="tab-pane active">
                            <div class="mb-1"> 
                                <div class="card-body">
                                    <p class="card-text mt-3">
                                    <%= disp.good_review %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="bad_point<%= disp.id %>" class="tab-pane">
                            <div class="mb-1">
                                <div class="card-body">
                                    <p class="card-text mt-3">
                                    <%= disp.bad_review %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="image<%= disp.id %>" class="tab-pane">
                            <div class="mb-1">
                                <div class="card-body">
                                <img src="<%= disp.image %>" class="img-responsive mx-auto d-block img-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="btn-toolbar" id="foot-<%= disp.id %>">
                    <%= render :partial => "empathy", :locals => { disp: disp } %> 
                </div><!--btn-toolbar-->    
                </div>
            </div> 
            <hr>
            <% end %>   
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
    
    </div>
</div>